
<h1 class="contact_h1">contact us</h1>

<form class="opinion_form"  method="POST" action="/contact">
    <div class="prompt">
        <span>the friendly bakery wants to hear from you!</span>
        here at the friendly bakery, we love to hear what we can improve on or do more of... send us a note!
    </div>
    name 
    </br>
    <input class="name" type="text" name="name" placeholder="your name"></input>
    </br>
    </br>
    email 
    </br>
    <input class="email" type="text" name="email" placeholder="your email"></input>
    </br>
    </br>
    opinion
    <textarea class="message" type="text" name="message" placeholder="your message"></textarea>
    <button class="submit" type="submit">submit your message</button>
</form>


