
<nav class="landing_options">
    <ul class="nav_links">
        <li>
            <a href="/cookies"><img src="imgs/landing/cookie_vector.png" alt=""></a>
            <div class="text_link"><a href="/cookies">cookies</a></div>
            </li>
        <li>
            <a href="/muffins"><img src="imgs/landing/muffin_vector.png" alt=""></a>
            <div class="text_link"><a href="/muffins">muffins</a></div>
        </li>
        <li>
            <a href="/cakes"><img src="imgs/landing/cake_vector_2.png" alt=""></a>
            <div class="text_link"><a href="/cakes">cakes</a></div>
        </li>
        <li>
            <a href="/all"><img src="imgs/landing/baker_vector.png" alt=""></a>
            <div class="text_link"><a href="/all">all</a></div>
        </li>
    </ul>
</nav>


<div id="email_prompt">
    <div class="close">X</div>
    <div class="the_prompt">
        <h1>get our offerings of baked goods sent to your inbox:</h1>
        <div class="forms">
            <form action="/email_prompt" method="POST">
                email:
                <input class="email" name="email" type="text" placeholder="your email">
                <button class="form_button" type="submit" name="menu" value="cookies">cookies</button>
                <button class="form_button" type="submit" name="menu" value="muffins">muffins</button>
                <button class="form_button" type="submit" name="menu" value="cakes">cakes</button>
                <button class="form_button" type="submit" name="menu" value="all">all</button>
            </form>
        </div>
    </div>
</div>

