
<nav class="landing_options">
    <ul class="nav_links">
        <li>
            <a href="/cookies"><img src="imgs/landing/cookie_vector.png" alt=""></a>
            <div class="text_link"><a href="/cookies">cookies</a></div>
            </li>
        <li>
            <a href="/muffins"><img src="imgs/landing/muffin_vector.png" alt=""></a>
            <div class="text_link"><a href="/muffins">muffins</a></div>
        </li>
        <li>
            <a href="/cakes"><img src="imgs/landing/cake_vector.png" alt=""></a>
            <div class="text_link"><a href="/cakes">cakes</a></div>
        </li>
        <li>
            <a href="/all"><img src="imgs/landing/baker_vector.png" alt=""></a>
            <div class="text_link"><a href="/all">all</a></div>
        </li>
    </ul>
</nav>