
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="scss/source.css"/>

</head>
<body>
    <header>
        <h1>the friendly bakery</h1>
        <nav>
            <ul class="nav_links">
                <li><a href="/">home</a></li>
                <li><a href="/all">all baked goods</a></li>
                <li><a href="/cookies">cookies</a></li>
                <li><a href="/muffins">muffins</a></li>
                <li><a href="/cakes">cakes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%= yield %>
    </main>
    <footer>
        <div class="copyright">thanks for loving our baked goods | &copy 2018 the friendly bakery</div>
        <div class="email_products_prompt"></div>
    </footer>
</body>
<html>

