
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="scss/source.css"/>
</head>
<body>
    <header>
        <h1>the friendly bakery</h1>
        <nav>
            <ul class="nav_links">
                <li><a href="/">home</a></li>
                <li><a href="/all">all baked goods</a></li>
                <li><a href="/cookies">cookies</a></li>
                <li><a href="/muffins">muffins</a></li>
                <li><a href="/cakes">cakes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%= yield %>
    </main>
    <footer>
        <div class="copyright">
        thanks for loving our baked goods | &copy 2018 the friendly bakery
        </div>        
    </footer>
<!-- scripts -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="JS/main.js"></script>
</body>
<html>

