
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 150px;
    padding-bottom: 150px;
    background: blanchedalmond url(../imgs/bread_house.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    width: 80%;
    margin: 0px auto;
}

.page_404 {
    text-align: center;
    padding-top: 50px;
    font-size: 5em;
    color: $linkcolor; 
}
